.bg-p{
    background-color: $primaricolor;
}

.bg-s{
    background-color: $secundaricolor;
}

.bg-t{
    background-color: $terciaricolor;
}

.text-p{
   color: $primaricolor;
}

.text-s{
    color: $secundaricolor;
}

.text-t{
   color: $terciaricolor;
}

.text-g{
    color: $gris;
}