
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500;600&display=swap');
  @import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@300;500;700;800 & display=swap');



  :root{
    font-size: 19px;
    --fonts-roboto: (font-family: 'Roboto Mono', monospace, font-family: 'Open Sans', sans-serif;)
  };

 
  $primaricolor: #030b61fd;
$secundaricolor:#0e5173;
$terciaricolor: #91b8c8;
$colorCorrect: #54bc0a;
$colorIncorrect: #d70415;
$fourcolor: #2266e4ce;
$white: #f4f4f4;
$black: #000009;
$gris: #767676;

